
version: 2
jobs:
  build:
    docker:
      - image: circleci/openjdk:8-jdk
      - image: circleci/mysql:5.7
    working_directory: ~/repo
    steps:
      - checkout
      - run: mkdir logs 
      - run: mvn clean install -DskipTests
      #- run: |
       #   sudo docker login -u $DOCKER_USER -p $DOCKER_PASS
      - run: docker build -t studnet/app:$CIRCLE_BRANCH .



