version: 2
jobs:
  build:
    machine:
        image: circleci/classic:edge
    working_directory: ~/repo
    steps:
      - checkout
      - run: mkdir logs 
      - run: mvn clean install -DskipTests
      - run: sudo docker login -u $DOCKER_USER -p $DOCKER_PASS
      - run: sudo docker build -t $PROJECT_NAME/$CIRCLE_BUILD_NUM .
      - run: sudo docker tag $PROJECT_NAME/$CIRCLE_BUILD_NUM $DOCKER_USER/$DOCKER_REPO:$CIRCLE_BUILD_NUM 
      - run: sudo docker push $DOCKER_USER/$DOCKER_REPO:$CIRCLE_BUILD_NUM
  deploy: 
     working_directory: ~/repo
     machine:
        image: circleci/classic:edge
     steps:
       - run: sudo docker tag $PROJECT_NAME/$CIRCLE_BUILD_NUM $DOCKER_USER/$DOCKER_REPO:$CIRCLE_BUILD_NUM 
       - run: sudo docker push $DOCKER_USER/$DOCKER_REPO:$CIRCLE_BUILD_NUM


workflows:
  version: 2
  build_and_deploy:
    jobs:
      - build
      - deploy-approval:
         type: approval
         requires:
           - build   



