p#logedInName  {
    margin-left: 830px;
}
a#logout{
	margin-left: 1030px;
/*     background-color: pink;	 */
}

.closebtn:hover {
    color: black;
}
.test :hover {
    background-color: #f9ff00;
    text-shadow: 0 0 3px #FF0000;
    

}
tr {
	height:80;
}
tr:hover {
          background-color: #729fcf;
        }
th {
    background-color: #dee2dc;
}   
b#email {
    color: chocolate;
}
       
body{
background: #f9f9f9       
}

.tableDiv
{
	background: #877678;
	margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 20px;
}
td {
	color:#020202
}
a#delete_anchor {
	color:#c5454f;
	background-color: white;
}
a#edit_anchor {
	color:#3c763d;
	background-color: white;
}

