p#logedInName  {
    margin-left: 830px;
}
a{
	background-color: pink;
}
a#logout{
	margin-left: 1030px;
}

.closebtn:hover {
    color: black;
}
.test :hover {
    background-color: #f9ff00;
    text-shadow: 0 0 3px #FF0000;
    

}
tr:hover {
          background-color: #3465a4;
        }
 .header{
	background-color: #ceb291;
	margin-left: 100px;
    margin-right: 100px;
        height: 40px;
}
.header:hover{
	background: pink;
	
}
th {
    background-color: brown;
}
a{
	background-color: pink;
}
   
b#email {
    color: chocolate;
}
       
body{
background: #76b852        
}

.tableDiv
{
	background: #877678;
	    margin-left: 100px;
    margin-right: 100px;
}

