h3#title{
	font-size: 24px;
	text-align: center;
}
input#post{
	margin-left: 380px;
}
textarea#text_area {
	border-radius: 15px;
	background-color: #f2f2f2
}


div.container {
	margin-top: 10px;
}
ul#list {
	margin-left: 475px;
}
.nav>li>a {
	color: #333;
}

#new_post,#post_list{
	background-color: white;
}

/* pagination class */
.col-sm-7 {
    margin-bottom: 36px;
    margin-top: 7px;
}
#post_message{
	width: 500px;
}