h3#title {
	font-size: 24px;
	font-family: inherit;
    font-weight: 500;
    line-height: 1.3;
    text-align: center;
}
ul#list {
	margin-left: 400px;
}
.nav>li>a {
	color: #333;
//	background-color: graytext;
}

#ignored_issues,#pending_issues,#resolved_issues{
	background-color: white;
}

/* pagination class */
.col-sm-7 {
    margin-bottom: 36px;
    margin-top: 7px;
}
#issue {
	width: 500px;
}